
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,900');

body {
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  background-color: rgb(255, 242, 242);
}

.container {
  margin-top: 5.25rem;
}

h1 {
  font-weight: bold;
  font-size: 2.5rem;
  color: rgb(32, 64, 89);
}

h2 {
  font-size: 1rem;
  font-weight: bold;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12.5rem;
  height: 12.5rem;
  background-color: rgb(32, 64, 86);
  border: 4px solid white;
  border-radius: 10px;
  font-style: "Work Sans", sans-serif;
  font-weight: 900;
  font-size: 7rem;
  color: rgb(255, 255, 255);
}

.card:hover {
  cursor: pointer;
}
